<h1>Follow Friends</h1>
<% users.each do |user| %>
    <div id="<%= dom_id(user) %>">

      <p><%= user.name %></p>

        @<%= user.usename%><br>
        <% if user.usename != current_user.usename %>
            <%= link_to 'follow', user_friendships_path(user),method: :post, class: 'btn btn-danger' unless @friendship.present? %>
            <%= link_to 'unfollow', friendship_path(@friendship.id), method: :delete, class: 'btn btn-danger' if @friendship.present? %>
            
        <% end %>
      

    </div>
<% end %>

